fieldset{
    color:rgb(255, 255, 255);
    background-color: rgb(59, 59, 59);
    margin:5px;
    width:100%;
    border-radius: 6%;
}

form label {
    display: block;
    font-size: 1.3em;
    margin: 10px 0;
    
}

form legend {
    font-size:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px black;
}

form {
    margin: 20px;
    text-align: center;

}

form input {
    padding: 5px 12px; 
    border-radius: 6px;
    background-color: gray;
    color:black;
}


.form-group input {
    border: 2px solid red;
    border-radius: 100em;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    outline: none;
    padding: .5rem 1.5rem;
    width: 80%;
}

.form-group label {
    font-size: 30px;
    color:black;
}
::placeholder{
    color: black;
    opacity: 0.5;
}