body{
    background-color:rgb(53, 53, 53);
    font-family:"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    overflow-x: hidden;
}
main {
    
    width: 90%;
    background-color: gray;
    margin: 10px;
    height: 100%;
    padding: 100px;
    border-radius: 5px;


}


h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;
}
.bordure{
    border : 1px solid black;
}

img {
    width: 200px;
}
.gemmeImg{
    mix-blend-mode: multiply;
    width: 200px;
}
.gemmeImg:hover
{
    filter: opacity(10);
}

.blocGemme{
    width: 500px;
    margin: 20px;
    padding: 10px;

}

ol li {
    font-size: 30px ;
    margin-bottom: 20px;
    list-style-type: none;
    text-decoration: none;
}
.imageimage{
    text-decoration: none;
    justify-content: center;
}

#imageProfil {
    width: 200px;
    height: auto;
    border-radius: 50%;
    transform: scale(0);
}

#imageBien {
    height: 200px;
    width: auto;
}
.btn{
    width: 195px;
    border-radius: 6px;
    cursor: pointer;
    padding: 12 5px;
    margin: 10px auto;
    line-height: 25px;
}

.btn-page {
    background-color: blueviolet;
    color: whitesmoke;
    border: 1px solid white;
}

.btn-primary {
    background-color: #238636;
    color: whitesmoke;
    border-radius: 6px;
}
.btn-thirday {
    background-color: #9b2222;
    color: whitesmoke;
    border-radius: 6px;
}
.btn-thirday:hover {
    background-color: #b82222;
    
}
.btn-primary:hover{
    background-color:#2a9c41;
}
.btn-secondary {
    padding: 16px 16px;
    text-align: center;
    border: 1px solid #30363d;
    border-radius: 6px;

}


.btn-send {
    background-color: rgb(9, 162, 233);
    color: whitesmoke;
    border: 1px solid white;
}

.btn-load {
    background-color: rgb(44, 117, 10);
    color: whitesmoke;
    border: 1px solid white;
}

.imageMenu {
    color: azure;
    cursor: pointer;
}
a:hover{
    background-color: rgb(161, 161, 161);
}
a {
    
    text-decoration: none;
    background-color: gray;
    color: whitesmoke;
    border-radius: 10%;
    padding: 10px;
    border: 1px solid #000000;


}

#lienAgence {
    display: inline-block;
    padding: 15px;
    border: 1px dotted red;
}

#imageLettre{
    height: 80px;
    width: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.width-80 {
    width: 80%;
}

.center {
    text-align: center;
}

.border {
    border: 1px solid black;
}

.card {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.452);
    margin: 0;
    padding: 10px;
    border-radius:5px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 15px;
}

ul li a {
    color: white;
    font-size: larger;
    text-decoration: none;
    list-style-type: none;
}

.blocImageBien {
    height: 300px;
    align-items: center;
}

.imageIcon {
    width: 30px;
}

footer {
    background-color: blue;
    margin: 0;
    padding: 10px;
    margin-top: 20px;
}

footer p a {
    color: white;
}
.p2{
    font-style: normal;
}
select {
    appearance: none;
    background-color: rgba(204, 204, 204, 0.575);
    border-radius: 5%;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

th {
    background-color: aqua;
}

.blocGauche {
    width: 300px;
}

.justify {
    text-align: justify;
}

.mt-50 {
    margin-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.progress {
    border: 1px solid black;
    padding: 5px;
}

.progress-bar {
    height: 20px;
    background-color: green;
}
.alert{
    padding: 15px;
}
.alert-success{
    color: rgb(0, 0, 0);
    border-radius: 6px;
    background-color: #d6f5d6d2;
    box-shadow: 2px 2px 2px #c2ffc2;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
.fa-check-circle{
    margin:10px;
}
.fa-times-circle{
    margin-left: 150px;
}
